.hero {
  display: flex;
  padding: 64px 16px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  flex: 1 0 0;
}

.heroImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.ImageBackGround {
  position: relative;
  /* border: 8px solid #030712; */
  background: #374151;
  width: 280px;
  height: 240px;
  flex-shrink: 0;
}

.heroPhoto {
  position: absolute;
  bottom:12px;
  display: flex;
  margin-left: 12px;

  width: 240px;
  height: 240px;
  flex-shrink: 0;
  border: 8px solid #030712;
  background: lightgray 50% / cover no-repeat;
}

.columnDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.location {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.dot {
  padding-right: 8px;
}
.heroIcons {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
